<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Form Validation</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1 class="text-center">User Validation Form</h1>
    <div class="container mt-5">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>First name <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="First name"
            />
            <div class="text-danger">
              @if(userForm.controls['firstName'].errors?.['required'] &&
              userForm.controls['firstName'].touched){
              <span>First Name is Required</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Last name <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Last name"
            />
            @if(userForm.controls['lastName'].touched){
            <div class="text-danger">
              @if(userForm.controls['lastName'].errors?.['required']){
              <span>Last Name is Required</span>
              } @if (userForm.controls['lastName'].errors?.['minlength']) {
              <span>Minimum length is 4</span>
              }
            </div>
            }
          </div>

          <div class="col-md-4 mb-3">
            <label>Username <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="userName"
              placeholder="@Username"
            />
            @if(userForm.controls['userName'].touched){
            <div class="text-danger">
              @if(userForm.controls['userName'].errors?.['required']){
              <span>Username is Required</span>
              } @if (userForm.controls['userName'].errors?.['minlength']) {
              <span>Minimum length is 3</span>
              }
            </div>
            }
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>City <span class="text-danger">*</span></label>
            <select
              class="form-select"
              formControlName="city"
              placeholder="city"
            >
              <option value="" disabled selected>Select an option</option>
              <option value="Saharanpur">Saharanpur</option>
              <option value="Ludhiana">Ludhiana</option>
              <option value="Kurukshetra">Kurukshetra</option>
            </select>
          </div>

          <div class="col-md-3 mb-3">
            <label>State <span class="text-danger">*</span></label>
            <select
              class="form-select"
              formControlName="state"
              placeholder="State"
            >
              <option value="" disabled selected>Select an option</option>
              <option value="Haryana">Haryana</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Punjab">Punjab</option>
            </select>
          </div>

          <div class="col-md-3 mb-3">
            <label>Zip <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="zipCode"
              placeholder="Zip"
            />
            <div class="text-danger">
              @if(userForm.controls['zipCode'].errors?.['required'] &&
              userForm.controls['zipCode'].touched){
              <span>Zip is Required</span>
              }
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isTermAgree"
            required
          />
          <label class="form-check-label">
            Agree to terms and conditions
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!userForm.valid"
        >
          Submit form
        </button>
      </form>
    </div>
  </body>
</html>
