<h1 class="heading-text">Welcome to Angular 19</h1>
<br />
<h1>-------------------------- What is Component --------------------------</h1>
<br />
<table style="width: 100%; border: 1px solid black">
  <tr>
    <td style="border: 1px solid black"><app-admin></app-admin></td>
    <td style="border: 1px solid black"><app-user></app-user></td>
  </tr>
</table>
<br />
<h1>
  -------------------------- What is Data Binding --------------------------
</h1>
<br />
<app-data-binding></app-data-binding>
<br />
<h1>
  ----------------------- What is Structural Directive -----------------------
</h1>
<br />
<app-ngIf></app-ngIf>
<app-ngFor></app-ngFor>
<br />
<h1>
  ----------------------- What is Attribute Directive -----------------------
</h1>
<br />
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
